<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,
                                 initial-scale=1.0">
  <meta name="google-site-verification"
        content="yGlpL-CQA6xFu5ZjUZDrh4YYbVXBkdMuKIQXLZx0Dwk">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
  <!-- Google fonts https://www.google.com/fonts
       ================================================== -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:400,200,700" rel="stylesheet" type="text/css">
  <!-- Fount Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!-- favicon
       ================================================== -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
       Twitter: https://dev.twitter.com/docs/cards/types/summary-card
       ============================== -->
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:description" content="{{ page.description }}"/>
  <meta property="og:image" content="{{ page.imageurl }}"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.imageurl }}">
  
</head>        
