<!doctype html>
<html class="no-js">

  {% include head.html %}
  
  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
          <ul class="vertical menu">
            {% include nav.html %}
          </ul>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>


          <div class="content">
            <div class="row column">
          <div class="contain-to-grid small-12 columns header-content">
            <nav class="top-bar" data-topbar role="navigation"
                 data-options="sticky_on: small">
              <div class="title-bar-left">
                <a id="home" href="{{ site.baseurl }}/">{{ site.title }}</a>
              </div>
              <div class="title-bar-right mtl">
                <ul class="menu quiet show-for-medium">
                  {% include nav.html %}
                </ul>
                <button class="menu-icon quiet hide-for-medium" type="button" data-toggle="offCanvasRight"><i class="fa fa-bars" aria-hidden="true"></i> MENU</button>
              </div>
            </nav>
          </div>
          </div>
            <div class="row column">

              {{ content }}
              
            </div>
            <footer class="site-footer row column mtl" role="contentinfo">
              <hr/>
              <ul class="menu quiet show-for-medium align-left">
                <li><i class="fa fa-copyright"></i>2016 ClojureBridge</li>
              </ul>
            </footer>
          </div><!-- end .content -->

        </div><!-- end .off-canvas-content -->
      </div><!-- end .off-canvas-wrapper-inner -->
    </div><!-- end .off-canvas-wrapper -->



    <!-- Loading JavaScripts
    ================================================== -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.js"><\/script>')</script>
      <script src="bower_components/what-input/what-input.js"></script>
      <script src="bower_components/foundation-sites/dist/foundation.js"></script>
      <script src="js/app.js"></script>

      <!-- Google Analytics CHANGE THIS TO YOUR UA CODE-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-87707459-1', 'clojurebridge.org');
        ga('send', 'pageview');
      </script>

  </body>
</html>
